@font-face {
  font-family: "Bebas Neue";
  src: local("BebasNeueRegular"), url("../fonts/BebasNeueRegular.woff2") format("woff2"),
    url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing:border-box; /*позволяет правильно считать высоту и ширину элемента*/
}
body{
  font-family: 'Roboto', sans-serif;
}
.header{
  background-color: #635854;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 4px solid #3596F5
}
.navbar{
max-width: 1280px;
margin:auto;
display: flex;
justify-content: space-between;
align-items: center;
}
.navbar-menu{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  text-align: center;
}
.navbar-element{
  margin-left: 40px;
  margin-right: 40px;
}
.navbar-link{
  text-decoration: none;
  color: #fff;
}
.navbar-contacts{
text-align: right;
}
.navbar-text {
display: block;
color:#fff;
font-size: 14px;
margin-bottom: 4px;
}
.navbar-phone{
font-weight: 700;
font-size: 17px;
line-height: 20px;
text-decoration: none;
color:#fff;
}
.main{
  margin: auto;
  max-width: 1280px;
  padding-top: 54px;
  display: flex;
}
.home-image path {
  opacity: 0;
  cursor: pointer;
}
.home-image path:hover {
  opacity: 1;
}
path.current-floor {
   opacity: 1;
}
.main-info{
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.counter-group{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counter-button {
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.counter-down {
  transform: rotateX(180deg); /*переворачиваем на 180 градусов*/
}
.main-title {
  font-family: "Bebas Neue" sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 37px;
  color: #635854;
  line-height: 44px;
}
.counter-item {
  color: #635854;
  font-size: 124px;
  font-family: "Bebas Neue" sans-serif;
  margin-top: 10px;
}
.button-primary {
  background: #3596F5;
  border-radius: 6px;
  color:#fff;
  border:none;
  padding: 16px 36px;
  cursor: pointer;
}
.modal {
    position: fixed; /* фиксированная позиция */
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex; /* по умолчанию, окно скрыто */
    align-items: center; /* выравниваем окно по середине по вертикали */
    justify-content: center; /* выравниваем по середине по горизонтали */
    opacity: 0;
    transform: scale(0); /*ф-ция трансформации scale - ф-ция масштабирования*/
}
.is-open {
    opacity: 1;
    transform: scale(1);
}
.modal-dialog {
  position: absolute;
  flex-grow: 1;
  width: 1003px;
  height: 565px;
  background-color: #fff;
  display: flex;
  transform: translateY(-10%);
  opacity: 0;
  transition: transform 0.2s, opacity 0.2s;
  transition-delay: 0.2s;

}
.is-open > .modal-dialog {
  transform: translateY(0);
  opacity: 1;
}
.modal-image{
  width: 60%;
  background-color: #ebebeb;
  text-align: center;
}
.modal-info {
  background-color: #FFFFFF;
  width: 40%;
padding: 0 46px;
}
.modal-title {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  padding-top: 50px; 
}
.flat-list {
  margin: 0;
  margin-top: 55px;
  padding: 0;
  list-style-type: none;
}
.flat-item {
  margin: 0;
  padding-left: 0;
  padding-bottom: 10px;
  /*margin-bottom: 10px;*/
}
.flats path {
  opacity: 0;
  cursor: pointer;
}
.flats path:hover {
  opacity: 1;
}
.modal-dialog-close {
  cursor: pointer;
  position: absolute;
  right: 27px;
  top: 38px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.flat-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #635854;
}
.flat-link:hover {
  color: #3596f5;
  text-decoration: underline;
}
.isChooseFlat {
  color: #3596f5;
}
.modal-comment {
  font-size: 16px;
  line-height: 19px;
  font-style: italic;
  color: #635854;
  margin-top: 56px;
}
